<H1>Message Received [Item Code: {{itemcode}}]</H1>
<div>
    <p>Item Code: {{itemcode}}</p>
    <p>First Name: {{firstname}}</p>
    <p>Last Name: {{lastname}}</p>
    <p>Address: {{address}}</p>
    <p>Email: {{email}}</p>
    <p>Contact: {{contact}}</p>
    <p>Message: {{message}}</p>
</div>