<H1>Order Received [Item ID: {{id}} | QTY: {{qty}}]</H1>
<div>
    <p>Item ID: {{id}}</p>
    <p>QTY: {{qty}}</p>
    <p>Ref: {{Ref}}</p>
    <p>Date: {{createdAt}}</p>
    <p>First Name: {{firstname}}</p>
    <p>Last Name: {{lastname}}</p>
    <p>Address: {{address}}</p>
    <p>Email: {{email}}</p>
    <p>Contact: {{contact}}</p>
</div>